* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-primaria: #FFFFFF;
  --cor-secundaria: #1E1E1E;
  --cor-terciaria: #49ACDC;

  --cor-degrade-1: #80D7DE;
  --cor-degrade-2: #1885DB;
  --cor-degrade-3: #1B89DB;
  --cor-degrade-4: #113377;


  --espacamento-lateral: 70px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.container {
  margin: 0 var(--espacamento-lateral);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secao-principal {
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    var(--cor-degrade-1) 0%,
    var(--cor-degrade-2) 50%,
    var(--cor-degrade-3) 75%,
    var(--cor-degrade-4) 100%
  );

  display: flex;
  align-items: center;
}
